.info{
    font-weight: bold;
}

.alert {
  animation: spinner 0.5s linear 3;
}


#terminal{
  padding-bottom: 10px;
  font-family: 'Courier New';
  font-size: small !important;
  width: 100%;
  height: 100%;
  background-color: #000;
  margin: 0;
  padding: 0;
}

#terminal h1{
  font-size: medium;
  margin-top: 0;
  padding-top: 0;
}

@keyframes boot{
  from { background-color: #000; }
  to {background-color: #c50037; }
}

#bootscreen{
  animation: boot 2s linear 0s 1;
  background-color: #c50037;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes bootlogo {
  from { opacity: 0; }
  to { opacity: 1; }
}

.boot-logo{
  animation: bootlogo 2s forwards 2s 1;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10%;
}

.copy {
  margin-top: 10px;
  animation: bootlogo 2s forwards 2s 1;
  opacity: 0;
  font-size: large;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.spinner {
  animation: spinner 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spinner {
  50% { opacity: 0; }
}
