* {
  font-family: 'Courier New';
  font-size: small;
}

.info{
    font-weight: bold;
}

.alert {
  animation: spinner 0.5s linear 3;
}




.spinner {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  50% { opacity: 0; }
}
